footer.footer
	.section
		.container
			.footer__inner
				.footer__links
					div ИНФОРМАЦИОННАЯ ЛИНИЯ
					.footer__privacy
						a(href="#") Обратная связь
						a(href="#") Правила акции
						a(href="#") FAQ
					div Присоединяйтесь к нам
				.footer__contacts
					a.footer__tel(href="tel:88003331525") 8 800 333-15-25
					.footer__social
						.footer__social-item
							a(href="#") 
								img(src="../img/Footer/footer-fb.svg", alt="Facebook")
						.footer__social-item
							a(href="#") 
								img(src="../img/Footer/footer-vk.svg", alt="Facebook")
						.footer__social-item
							a(href="#") 
								img(src="../img/Footer/footer-in.svg", alt="Facebook")
						.footer__social-item
							a(href="#") 
								img(src="../img/Footer/footer-tw.svg", alt="Facebook")
						.footer__social-item
							a(href="#") 
								img(src="../img/Footer/footer-gr.svg", alt="Facebook")
						.footer__social-item
							a(href="#") 
								img(src="../img/Footer/footer-pint.svg", alt="Facebook")
				.footer__copy © 2020 ООО «Валио»