header.header
  .section
    .container
      .header__inner        
        img(src="../img/Header/Header-logo.svg", alt="OLTERMANNI-LOGO")
        .header__menu
          button.btn.link-item.link-item_rules ПРАВИЛА
          button.btn.link-item.link-item_presents ПРИЗЫ
          button.btn.link-item.link-item_winners ПОБЕДИТЕЛИ
        .header__buttons
          button.btn.btn_yellow.link-item.btn_form-enter ВХОД
          button.btn.link-item.btn_form РЕГИСТРАЦИЯ