header.header
  .section
    .container
      .header__inner        
        img(src="../img/Header/Header-logo.svg", alt="OLTERMANNI-LOGO")
        .header__menu
          a(href='#').link-item.link-item_rules ПРАВИЛА
          a(href='#').link-item.link-item_presents ПРИЗЫ
          a(href='#').link-item.link-item_winners ПОБЕДИТЕЛИ
        .header__buttons
          button.btn.btn_yellow.link-item.btn_form-enter ВХОД
          button.btn.link-item.btn_form РЕГИСТРАЦИЯ
      .header__wrapper
        img.header__logo(src="../img/Header/Header-logo.svg", alt="OLTERMANNI-LOGO")
        .header-nav
          .header__top
          input(type="checkbox" id="nav-menu")
          label(for="nav-menu").header-nav__btn
            span
          ul.menu-list
            .header__top
              img.header__logo.header__logo_burger(src="../img/Header/Header-logo.svg", alt="OLTERMANNI-LOGO")
            .menu-section
              li.menu-list__link
                a(href='#').link-item.link-item_rules ПРАВИЛА
              li.menu-list__link
                a(href='#').link-item.link-item_presents ПРИЗЫ
              li.menu-list__link
                a(href='#').link-item.link-item_winners ПОБЕДИТЕЛИ           
            .menu-section
              li.menu-list__link
                a(href='#').link-item.link-item_rules Обратная связь
              li.menu-list__link
                a(href='#').link-item.link-item_presents Правила акции
              li.menu-list__link
                a(href='#').link-item.link-item_winners FAQ   
            .menu-section
              .join-us Присоединяйтесь к нам
              .social
                .social-item.social-item_header
                  a(href="#") 
                    img(src="../img/Footer/footer-fb.svg", alt="Facebook")
                .social-item.social-item_header
                  a(href="#") 
                    img(src="../img/Footer/footer-vk.svg", alt="Facebook")
                .social-item.social-item_header
                  a(href="#") 
                    img(src="../img/Footer/footer-in.svg", alt="Facebook")
                .social-item.social-item_header
                  a(href="#") 
                    img(src="../img/Footer/footer-tw.svg", alt="Facebook")
                .social-item.social-item_header
                  a(href="#") 
                    img(src="../img/Footer/footer-gr.svg", alt="Facebook")
                .social-item.social-item_header
                  a(href="#") 
                    img(src="../img/Footer/footer-pint.svg", alt="Facebook")
        button.btn.btn_yellow.link-item.btn_form-enter ВХОД         
                