.cheese {
    position: relative;
    width: 100%;

    &__img {
        position: absolute;
        top: -90px;        

        &_left {
            left: 26%;
        }
    }

    &__title {
        font-family: $PFD_Medium;
        font-size: 36px;
        font-weight: 500;
        color: $brown;
        text-align: center;
        margin-top: 102px;
        margin-bottom: 25px;

        @media ($ph) {
            font-size: 30px;
          }
    }  

    &__swiper {
        margin: 0 200px;

        @media ($ph) {
            margin: 0 10px;      
        }

        @media ($sm) {
            margin: 0 20px;      
        }

        @media ($md) {
            margin: 0 30px;      
        }
    }

    &__slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    &__picture {
        max-height: 200px;

        @media ($ph) {
            max-height: 140px;      
        }
    }

    &__text {
        font-family: $PFD_Regular;
        font-size: 22px;
        font-weight: 400;
        color: $brown;
        text-align: center;
        margin-top: 22px;
    }    
}

.swiper-buttons{
    position: relative;    
    cursor: pointer;
    display: block;

    @media ($sm) {
        display: none;        
    }
}
.swiper-button-next:after{
    color: #5A1404;
}
.swiper-button-prev:after{
    color: #5A1404;
}

.swiper-button-next {
    position: absolute;
    top: -170px;
    right: 10%;   
    
    @media ($md) {
        right: 0;
    }
}

.swiper-button-prev {
    position: absolute;
    top: -170px;
    left: 10%;

    @media ($md) {
        left: 0;
    }
}

.swiper-pagination-bullets {
    bottom: -50px;
}

.swiper-pagination-bullet {
    background-color: #5B1A0D;
}
.swiper-pagination-bullet-active {
    background-color: white;
    border: 1px solid #5B1A0D;
}