.footer {
    width: 100%;
    margin-top: 80px;
    border-top:5px solid $yellow;
    font-family: $PFD_Medium;
    font-size: 16px;
    font-weight: 500;
    color: $brown;  

    &__inner {
        margin: 22px 0;
        display: flex;        
        justify-content: space-between;
        padding: 0 135px;
        
        @media ($md) {
            flex-direction: column;  
            padding: 0;
            align-items: center;
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        order: 2;

        @media ($md) {            
            order: 1;
        }

        @media ($ph) {            
            order: 1;
            margin: 0 15px;
        }
    }

    &__privacy {        
        display: flex;
        align-items: flex-start;

        & a:nth-child(2) {
            margin: 0 70px;

            @media ($ph) {            
                margin: 0 40px;
            }
        }
    }

    &__contacts { 
        width: 250px;       
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        order: 1;

        @media ($md) {            
            order: 2;
            margin: 30px 0;
            align-items: center;
        }
    }

    &__tel {
        font-family: $PFD_Bold;
        font-size: 36px;
        font-weight: 700;
        color: $red;
        text-align: left;        
    }    

    &__copy {
        font-family: $PFD_Regular;
        font-size: 12px;
        font-weight: 400;
        color: $brown;
        text-align: left;
        margin: 10px 135px;

        @media ($md) {
            text-align: center;
            margin: 10px 0;
        }
    }
}

.social {
    display: flex;
    flex-direction: column;
    order: 3;

    @media ($md) {
        align-items: center;
    }

    &__items {
        display: flex;
        margin-top: 10px;        
    }

    &__item {
        margin: 0 5px;
        width: 32px;
        height: 32px;
        background-color: $yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    
        &:hover {
            cursor: pointer;
            background-color: #cea70c;
        }

        &_header {
            background-color: $yellow_2;
        }
    }
}

