.modal { 
    align-items: center;  
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: .9);

    &__inner {
        position: relative;
        background-color: white;
    }

    &__content {
        width: 600px;     
        height: 800px;   
    }

    &__close {        
        position: absolute;
        width: 48px;
        height: 48px;
        top: -50px;
        right: -50px;       

        img {
            display: block;

            &:hover {
                cursor: pointer;
            }
        }
    }
}