// colors
$yellow: #FFCD00;
$brown: #5A1404;
$red: #e63000;

// MEDIA
$xl: 'max-width: 1440px'; // laptop
$lg: 'max-width: 1024px'; // laptop
$md: 'max-width: 768px'; // tablet
$sm: 'max-width: 640px'; // phone

//Fonts
$PFD_Bold: 'PFDinTextCondPro', sans-serif;
$PFD_Medium: 'PFDinTextCondPro', sans-serif;
$PFD_Regular: 'PFDinTextCondPro', sans-serif;
