extends ./tpl/layout

block page
	section.section
		.container
			.intro
				.intro__inner
					img.intro__bg(src="../img/Intro-picture.png", alt="Intro-picture")
					img.intro__man(src="../img/Intro-man.png", alt="Intro-man")
					button.btn.btn_red.link-item Загрузить чек
	section.section.section_promo
		.container
			.promo
				img.promo__img.promo__img_left(src="../img/baloon.svg", alt="Balloon")
				img.promo__img.promo__img_right(src="../img/Spiral.svg", alt="Spiral")
				.promo__title НАМ 40 ЛЕТ - ВАМ ПОДАРКИ
				.promo__inner
					.promo__item
						img.promo__logo(src="../img/Promo/Promo-i-1.svg", alt="Promo-icon")
						.promo__text Покупайте сыр Oltermanni
						img.promo__arrow(src="../img/arrow.svg", alt="Arrow")
					.promo__item
						img.promo__logo(src="../img/Promo/Promo-i-2.svg", alt="Promo-icon")
						.promo__text Регистрируйте чеки на сайте в  период с 1 сентября по 30 ноября 2020 года
						img.promo__arrow(src="../img/arrow.svg", alt="Arrow")
					.promo__item
						img.promo__logo(src="../img/Promo/Promo-i-3.svg", alt="Promo-icon")
						.promo__text Получайте гарантированнеы призы - деньги на телефон
						img.promo__arrow(src="../img/arrow.svg", alt="Arrow")
					.promo__item
						img.promo__logo(src="../img/Promo/Promo-i-4.svg", alt="Promo-icon")
						.promo__text Участвуйте в еженедельных розыгрышах
						img.promo__arrow(src="../img/arrow.svg", alt="Arrow")
					.promo__item
						img.promo__logo(src="../img/Promo/Promo-i-5.svg", alt="Promo-icon")
						.promo__text Получите возможность выиграть 400 000 &#8381;
	section.section
		.container
			.cheese
				img.cheese__img.cheese__img_left(src="../img/spiral_brown.svg", alt="Spiral-brown")
				.cheese__title В АКЦИИ УЧАВСТВУЮТ
				.swiper.cheese__swiper
					.cheese__slides.swiper-wrapper
						.cheese__slide.swiper-slide
							img.cheese__picture(src="../img/Cheese/cheese-i-1.png", alt="Cheese")
							.cheese__text Лёгкий, брусок 180г
						.cheese__slide.swiper-slide
							img.cheese__picture(src="../img/Cheese/cheese-i-2.png", alt="Cheese")
							.cheese__text Лёгкий, слайсы 120, 225г
						.cheese__slide.swiper-slide
							img.cheese__picture(src="../img/Cheese/cheese-i-3.png", alt="Cheese")
							.cheese__text Сливочный, брусок 200, 300г
						.cheese__slide.swiper-slide
							img.cheese__picture(src="../img/Cheese/cheese-i-4.png", alt="Cheese")
							.cheese__text Сливочный, слайсы 130, 250г
				.swiper-pagination
				.swiper-buttons
					.swiper-button-prev
					.swiper-button-next
	.modal.hidden
		.modal__inner
			.modal__content
			button.modal__close
				img(src="/img/close.svg", alt="")